/* PAGE HTML*/

body,
html {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000;
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

.head-1,
.head-2 {
    font-family: "Cuprum", "Arial", sans-serif;
}

.head-1,
.head-2,
.head-3 {
    font-weight: 700;
}

.head-1 {
    font-size: 36px;
    line-height: 30px;
    color: #fff;
}

.head-2,
.head-3 {
    color: #000;
}

.head-2 {
    font-size: 30px;
    line-height: 24px;
}

.head-3 {
    font-size: 17px;
    line-height: 30px;
}

.list {
    list-style: none;
}

/* Хедер */

.main-header {
    min-height: 320px;
}

.up-line {
    font-size: 17px;
    background: #293449;
}

.index-logo {
    /*     float: left;
 */
}

.index-logo {
    width: 165px;
    font-size: 24px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.index-logo:hover {
    background-color: #ca2c37;
}

.index-logo:focus {
    background-color: #ba2732;
}

.search-form {
    /*     float: left;
 */
    color: #fff;
    background: #293449;
}

.search-form {
    width: 270px;
}

.input-text {
    width: 100%;
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
    background-color: #293449;
    border: none;
    cursor: pointer;
}

.input-text:focus {
    color: #000;
    background: #fff;
}

.bookmarks,
.basket {
    width: 150px;
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #293449;
}

.bookmarks:hover {
    background: #212a3a;
}

.bookmarks:focus {
    background: #161d29;
}

.basket-full {
    background: #ee3643;
}

.basket:hover {
    background: #212a3a;
}

.basket:focus {
    background: #161d29;
}

.order {
    /*     float: left;
 */
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-decoration: none;
    color: #fff;
    background: #63a63e;
}

.order:hover {
    background: #5fbb2d;
}

.order:focus {
    background: #518534;
}

/* нижня часть hedera */

.top-line {
    min-height: 278px;
    color: #000;
    background-color: #f1f5f7;
}

.description {
    width: 247px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #ef5c67;
}

.contacts-header {
    width: 340px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum", "Arial", sans-serif;
}

.phone {
    border: 3px solid #fff;
    width: 264px;
    font-size: 21px;
    line-height: 18px;
    color: #e9292a;
}

.address {
    width: 310px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user {
    font-size: 21px;
}

.btn-enter,
.btn-reg {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 18px;
    text-decoration: none;
    color: #000;
    background-color: #fff
}

.btn-enter:hover {
    color: #ee3643;
}

.btn-enter:focus {
    color: #cacaca;
}

.btn-reg:hover {
    color: #ee3643;
}

.user-account:focus,
.btn-reg:focus {
    color: #cacaca;
}

.user-account {
    font-size: 21px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.user-controls {
    font-size: 0;
    line-height: 0;
}

.user-login {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #32425c;
    background: #f2f6f8;
}

.user-login:hover {
    color: #ef4652;
}

.user-login:active {
    color: #c5cad0;
}

.user-registration {
    display: inline-block;
}

.user-registration {
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    background: #f2f6f8;
    color: #32425c;
}

.user-registration:hover {
    color: #ef4652;
}

.user-registration:active {
    color: #c5cad0;
}

/* панель навигации под hederom */

.main-navigation {
    width: 100%;
    font-size: 0;
    line-height: 0;
    text-align: center;
    background-color: #32425c;
    border-bottom: 3px solid #293449;
}

.main-navigation li {
    display: inline-block;
}

.main-navigation a {
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-decoration: none;
    color: #fff;
}

.main-navigation a:hover {
    background: #293449;
}

.main-navigation a:focus {
    background: #1d2739;
}

/* информационная часть над footerom */

.inf {
    margin-bottom: 87px;
}

.about-company {
    width: 528px;
}

.side-header,
.text-1,
.text-2,
.text-3 {
    font-weight: 400;
    line-height: 24px;
}

.side-header {
    margin-bottom: 29px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
}

.partners {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 40px;
}

.about-company .btn {
    width: 220px;
    height: 38px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ef4652;
    border-radius: 4px;
}

.contacts-map {
    display: block;
    width: 300px;
    height: 158px;
}

.btn-send-message {
    width: 300px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ee3643;
    border-radius: 4px;
    display: block;
    line-height: 18px;
}

.name-text {
    line-height: 18px;
}

.form-btn {
    background: #f1f1f1;
}

.btn-go {
    width: 460px;
    font-size: 14px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #ee3643;
    outline: none;
    border: none;
}

.breadcrumbs {
    margin-bottom: 17px;
}

.breadcrumbs>a,
.breadcrumbs>span {
    position: relative;
    margin-right: 38px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.page-header {
    margin-bottom: 20px;
    background: #f2f6f8;
}

.page-header {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    color: #32425c;
}

.page-content-filter {
    width: 220px;
    min-height: 1202px;
    margin-right: 20px;
    font-size: 0;
    line-height: 0;
}

.filter,
.range-controls {
    background: #f7f3ec;
    border-radius: 3px;
}

.by-price h3,
.filter {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

.filter {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.by-price h3 {
    margin-top: 11px;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
}

.range-controls {
    position: relative;
    height: 80px;
    overflow: hidden;
}

.scale {
    height: 2px;
    margin-top: 39px;
    background: #d7dcde;
}

.bar {
    width: 87%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background: #ababab;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .min-toggle {
    left: 21px;
}

.range-controls .max-toggle {
    left: 161px;
}

.price-controls {
    margin-bottom: 26px;
}

.price-min,
.price-max {
    width: 85px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}

.price-min+span {
    margin-left: 7px;
    font-size: 17px;
    line-height: 30px
}

.price-max {
    margin-left: 9px;
}

.line {
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    border-bottom-width: 0;
}

.filter-section {
    margin-bottom: 22px;
}

.filter-title,
.filter-list input[type=checkbox]+span {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-list input[type=checkbox],
.radio-label input[type=radio] {
    display: none;
}

.filter-list input[type=checkbox]+span {
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}

.filter-section {
    margin-bottom: 77px;
}

.filter-list {
    margin-top: 15px;
}

.filter-list input[type=radio]+span {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.button-filter {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}

.catalog-content-sort {
    width: 700px;
    min-height: 1202px;
    font-size: 0;
    line-height: 0;
}

.column-header {
    margin-bottom: 20px;
    background: #f7f3ec;
    border-radius: 3px;
}

.column-header a,
.sort {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

.sort {
    margin-right: 139px;
}

.footer-content {
    color: #fff;
    background: #32425c;
}

/* футер */

.content-about-us,
.content-items {
    font-size: 0;
    line-height: 0;
}

.content-items {
    width: 613px;
    margin-top: 30px;
}

.footer-contacts {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-family: "Cuprum", "Arial", sans-serif;
}

.footer-navigation ul {
    text-align: right;
}

.footer-navigation li {
    display: inline-block;
}

.footer-menu a {
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
    text-decoration: none;
}

.footer-navigation a:hover {
    text-decoration: underline;
}

.footer-navigation a:active {
    color: #a4abb4;
}

.otherness a {
    color: #ffd180;
}

.otherness a:hover {
    text-decoration: underline;
}

.otherness a:active {
    color: #ad956f;
}

.footer-bottom {
    min-height: 107px;
    background: #293449;
}

.copyright {
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
}

.social-btn-vk,
.social-btn-fb,
.social-btn-inst {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    background: #212a3a;
    border-radius: 50px;
}

.social-btn-fb:active,
.social-btn-fb:hover,
.social-btn-inst:active,
.social-btn-inst:hover,
.social-btn-vk:active,
.social-btn-vk:hover {
    background: #ee3643;
}

.feedback,
.developers {
    font-size: 0;
    line-height: 0;
}

.footer-link {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
}

.link {
    margin-right: 89px;
}

.link,
.developed {
    color: #ffffff;
}

.mail,
.www {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #ffd180;
}

.mail {
    margin-right: 51px;
}

.mail:hover,
.www:hover {
    text-decoration: underline;
}

.mail:active,
.www:active {
    color: #ee3643;
}

.btn:hover {
    background: #ca2c37;
}

.btn:active {
    background: #ba2732;
}

.decor {
    display: none;
    background: #fff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}

.decor {
    border-top: 7px solid #ee3643;
    width: 620px;
}

.middle {
    width: 940px;
}