/* PAGE HTML*/

body,
html {
    margin: 0 auto;
    padding: 0;
    min-width: 960px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000;
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.head-1 {
    font-weight: 700;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 30px;
    color: #fff;
}

.head-2 {
    font-weight: 700;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 24px;
    color: #000;
}

.head-3 {
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: #000;
}

.list {
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

.container {
    width: 940px;
    margin: 0 auto;
}

/* Хедер */

.main-header {
    min-height: 320px;
}

.up-line {
    font-size: 0;
    background: #293449;
    align-items: center;
}

.up-line-shop {
    min-height: 42px;
    justify-content: space-between;
    display: flex;
}

.logo {
    margin: 13px 55px 16px 55px;
}

.index-logo {
    width: 224px;
    font-size: 24px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    display: inline-block;
}

.index-logo:hover {
    background-color: #ca2c37;
}

.index-logo:focus {
    background-color: #ba2732;
}

.search-form {
    margin: 0;
    padding: 0;
    width: 270px;
    color: #fff;
    background: #293449;
}

.shop {
    width: 450px;
    padding: 0;
    display: inline-block;
    text-align: right;
}

.input-text {
    margin-left: 37px;
    padding: 11px;
    width: 100%;
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
    background-color: #293449;
    border: none;
    cursor: pointer;
}

.input-text:focus {
    color: #000;
    background: #fff;
}

.bookmarks,
.basket {
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
    background-color: #293449;
    display: inline-block;
}

.bookmarks {
    padding: 12px 18px 13px 37px;
}

.basket {
    padding: 12px 34px 13px 28px;
}

.bookmarks:hover {
    background: #212a3a;
}

.bookmarks:focus {
    background: #161d29;
}

.basket-full {
    background: #ee3643;
}

.basket:hover {
    background: #212a3a;
}

.basket:focus {
    background: #161d29;
}

.order {
    padding: 14px 21px;
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
    background: #63a63e;
    display: inline-block;
}

.order:hover {
    background: #5fbb2d;
}

.order:focus {
    background: #518534;
}

/* нижня часть hedera */

.top-line {
    min-height: 278px;
    color: #000;
    background-color: #f1f5f7;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.inform-reg {
    width: 940px;
    padding: 45px 0 29px;
    margin-bottom: 16px;
    justify-content: space-between;
    display: flex;
}

.description {
    margin-left: 52px;
    margin-top: 4px;
    width: 200px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #ef5c67;
}

.contacts-header {
    width: 270px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum", "Arial", sans-serif;
}

.phone {
    padding: 8px 0 5px 0;
    border: 3px solid #fff;
    width: 270px;
    font-size: 21px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    line-height: 18px;
    color: #e9292a;
    display: inline-block;
}

.address {
    width: 310px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user {
    margin: 0;
    font-size: 21px;
}

.btn-enter {
    margin-right: 5px;
    width: 120px;
    padding: 10px 25px 10px 48px;
    display: inline-block;
}

.btn-reg {
    width: 150px;
    padding: 10px 25px 10px 25px;
}

.user-block {
    background-color: transparent;
    margin-bottom: 5px;
}

.user a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 18px;
    color: #000;
    background-color: #fff;
    box-sizing: border-box;
    display: inline-block;
}

.user a:hover {
    color: #ee3643;
}

.user a:focus,
.user-account:focus {
    color: #cacaca;
}

.user-account {
    padding: 10px;
    font-size: 21px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #000;
    background-color: #fff;
}

.user-logout {
    width: 50px;
}

.user-login,
.user-registration {
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #32425c;
    background: #f2f6f8;
    display: inline-block;
}

.user-login:hover,
.user-registration:hover {
    color: #ef4652;
}

.user-login:active,
.user-registration:active {
    color: #c5cad0;
}

/* панель навигации heder-а */

.main-navigation .list {
    padding: 0 50px;
    min-height: 60px;
    background-color: #32425c;
    border-bottom: 3px solid #293449;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.main-navigation li {
    display: inline-block;
}

.main-navigation a {
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
    display: block;
}

.main-navigation a:hover {
    background: #293449;
}

.main-navigation a:focus {
    background: #1d2739;
}

/* информационная часть над footerom */

.inf {
    padding: 0;
    font-size: 13px;
    align-items: center;
    margin-bottom: 87px;
    display: flex;
}

.about-company {
    width: 540px;
}

.contacts {
    margin-left: auto;
}

.side-header,
.about-company .p,
.text-3 {
    font-weight: 400;
    line-height: 24px;
}

.text-3 {
    margin-bottom: 36px;
}

.side-header {
    margin-bottom: 29px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
}

.partners {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 33px;
    padding-left: 30px;
    display: inherit;
}

.about-company .btn {
    width: 220px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    display: block;
    background-color: #ef4652;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 14px;
}

.contacts-map {
    display: block;
    width: 300px;
    height: 158px;
    margin-bottom: 40px;
}

.btn-send-message {
    width: 300px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #ee3643;
    border-radius: 4px;
    display: block;
    line-height: 18px;
    box-sizing: border-box;
    padding: 14px;
}

.name-text {
    line-height: 18px;
}

.form-btn {
    background: #f1f1f1;
}

.btn-go {
    width: 460px;
    font-size: 14px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #ee3643;
    border: none;
}

.breadcrumbs {
    width: 380px;
    margin-bottom: 23px;
    margin-right: 38px;
    line-height: 18px;
    text-transform: uppercase;
    display: flex;
}

.page-header {
    padding: 25px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", "Arial", sans-serif;
    text-transform: uppercase;
    color: #32425c;
    background: #f2f6f8;
}

.page-content {
    justify-content: space-between;
    display: flex;
}

.by-price,
.producer,
.power {
    border-top: none;
    border-right: none;
    border-left: none;
}

.by-price {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 16px;
}

.producer {
    border-bottom: 1px solid #e5e5e5;
}

.power {
    border-bottom: none;
}

.page-content-filter {
    width: 220px;
    margin-right: 20px;
    font-size: 0;
    line-height: 0;
}

.filter,
.range-controls {
    background: #f7f3ec;
    border-radius: 3px;
}

.by-price h3,
.filter {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

.filter {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.by-price h3 {
    margin-top: 11px;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
}

.range-controls {
    position: relative;
    height: 80px;
    overflow: hidden;
}

.scale {
    height: 2px;
    margin-top: 39px;
    background: #d7dcde;
}

.bar {
    width: 87%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    padding: 0;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background: #ababab;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .min-toggle {
    left: 21px;
}

.range-controls .max-toggle {
    left: 161px;
}

.price-controls {
    margin-bottom: 26px;
}

.price-min,
.price-max {
    width: 85px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;
}

.price-min+span {
    margin-left: 7px;
    font-size: 17px;
    line-height: 30px
}

.price-max {
    margin-left: 9px;
}

.line {
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    border-bottom-width: 0;
}

.filter-section {
    margin-bottom: 22px;
}

.filter-title,
.filter-list input[type=checkbox]+span {
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-list input[type=checkbox]+span {
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}

.filter-section {
    margin-bottom: 77px;
}

.filter-list {
    margin-top: 15px;
}

.filter-list input[type=radio]+span {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.button-filter {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}

.catalog-content-sort {
    width: 700px;
    font-size: 0;
    line-height: 0;
}

.column-header {
    width: 700px;
    margin-bottom: 20px;
    background: #f7f3ec;
    border-radius: 3px;
    justify-content: space-between;
    display: flex;
}

.column-header a,
.sort {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

.control {
    padding: 10px;
    display: flex;
}

.sort {
    margin-right: 139px;
}

.catalog-products-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}

.product-item {
    width: 220px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

.product-item .mark {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.product-item .new-mark {
    background: url("img/new-flag.png") no-repeat 0 0;
}

.product-item .actions {
    font-size: 17px;
    position: absolute;
    top: 545px;
    left: 945px;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 10;
}

.product-item .actions {
    display: none;
}

.product-item:hover .actions {
    display: block;
}

.buy,
.bookmark {
    display: block;
    min-height: 18px;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-transform: uppercase;
}

.bookmark {
    width: 134px;
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.discount,
.price {
    font-weight: bold;
    font-size: 17px;
}

.product-title {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.discount {
    min-height: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
}

.price {
    position: relative;
    min-height: 20px;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.price:after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}

.filter-sort {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.page {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* футер */

.footer-content {
    min-height: 200px;
    font-size: 18px;
    color: #fff;
    justify-content: space-between;
    display: flex;
}

.container-content {
    width: 100%;
    background: #32425c;
}

.container-bottom {
    width: 100%;
    background: #293449;
}

.index-logo-footer {
    width: 220px;
    height: 63px;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    display: inline-block;
}

.index-logo-footer:hover {
    background-color: #ca2c37;
}

.index-logo-footer:focus {
    background-color: #ba2732;
}

.about-us {
    width: 330px;
}

.footer-contacts {
    width: 330px;
    margin-top: 55px;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-family: "Cuprum", "Arial", sans-serif;
}

.content-items {
    width: 600px;
    margin-top: 40px;
    text-align: right;
}

.content-items a {
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", "Arial", sans-serif;
}

.footer-menu,
.footer-second-menu {
    justify-content: space-between;
    width: 600px;
    display: inline-block;
}

.footer-menu a {
    color: #fff;
}

.footer-second-menu a {
    color: #ffd180;
}

.footer-menu li,
.footer-second-menu li {
    padding: 0 0 0 50px;
    display: inline;
}

.otherness a:active {
    color: #ad956f;
}

.footer-bottom {
    justify-content: space-between;
    min-height: 107px;
    display: flex;
}

.footer-phone {
    padding: 8px 50px 5px 71px;
    width: 270px;
    font-size: 21px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-style: normal;
    line-height: 18px;
}

.footer-indent {
    list-style: none;
    margin-top: 40px;
}

.copyright {
    width: 240px;
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
}

.footer-social {
    width: 240px;
    display: flex;
}

.footer-social a {
    margin: 5px;
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background: #212a3a;
    border-radius: 50px;
}

.footer-social a:active,
.footer-social a:hover {
    background: #ee3643;
}

.feedback {
    width: 190px;
}

.developers {
    width: 140px;
}

.footer-link {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #fff;
}

.link {
    margin-right: 89px;
}

.link,
.developed {
    color: #ffffff;
}

.mail,
.www {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum", "Arial", sans-serif;
    color: #ffd180;
}

.mail {
    margin-right: 51px;
}

.mail:hover,
.www:hover {
    text-decoration: underline;
}

.mail:active,
.www:active {
    color: #ee3643;
}

.btn:hover {
    background: #ca2c37;
}

.btn:active {
    background: #ba2732;
}

.decor {
    display: none;
    border-top: 7px solid #ee3643;
    width: 620px;
    background: #fff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, .7);
}